*.DAT
*.dat
*.NDS
*.nds
*.elf
*.bin
*.bz2
*.dsi
*.cia
*.xx
BootStrap/arm7/build
BootStrap/arm9/build
data
build
hbload
bootloader/*build
bootloader/load.bin
bootloader/load.elf
tools/*
!resource/*
!resource/M3DSR/*
!alternate_loaders/*/*