[submodule "bootloader"]
	path = bootloader
	url = https://github.com/lifehackerhansol/nds-bootloader
[submodule "DLDI"]
	path = DLDI
	url = https://github.com/DS-Homebrew/DLDI
	branch = builds
[submodule "libnds32"]
	path = libnds32
	url = https://github.com/lifehackerhansol/libnds-dldi32
