*.DAT
*.dat
*.NDS
*.nds
*.elf
*.bin
*.zip
*.sys
bootstrap
data
build
hbload
arm9/build
arm7/build
arm9_r4ids.cn/build
bootloader/*build
bootloader/load.bin
bootloader/load.elf
!resource/*
!resource/M3R_iTDS_R4RTS/*
!alternate_loaders/*/*
