*.DAT
*.dat
*.NDS
*.nds
*.elf
*.bin
*.zip
*.xx
*.SC
lib
bootstrap
data
build
hbload
arm9/build
arm7/build
arm9_r4ids.cn/build
bootloader/*build
bootloader/load.bin
bootloader/load.elf
!resource/*
!resource/M3DSR/*
!alternate_loaders/*/*
tools/dsbize/dsbize