name: Build flashcard-bootstrap

on:
  push:
    branches: ["master"]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: ["master"]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: skylyrac/blocksds:slim-latest
    name: Build with Docker using BlocksDS
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install needed packages
        run: |
          apt update
          apt install -y python3 clang
      - name: Make flashcard-bootstrap
        run: |
          chmod +x build.sh
          ./build.sh
      - name: Prepare for build publishing
        run: |
          mkdir -p ~/artifacts
          cp bootstrap.zip ~/artifacts
      - name: Publish build to GH Actions
        uses: actions/upload-artifact@v3
        with:
          path: ~/artifacts/*
          name: build
